:root{
    --amarillo: #080703;
    --violeta-claro: #7c4cc3;
    --violeta-muy-oscuro: #2a1554;
    --otro-violeta: #4f28cd;
    --último-violeta: #2d1688;
};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .todo{
    background-color: #a29faf;
}
 */
.divisiones{
    display:flex;
    height: 100%;
}

.nav{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7c4cc3;
    color: aliceblue;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding: .5rem 1rem;


    #antara{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-left: 5px;
    letter-spacing: 1px;
}

    .titulo_nav{
        display: flex;
    }

    .parte_der_nav{
        display: flex;

        .usuarios_nav{
            display: flex;
            align-items: baseline;
            margin-right: 2rem;
            
            h6{
                padding-left: 5px;
                font-size: 1.2rem;
            }
        }
    }
}

.user{
    background-color: #1a181d;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 28%;

    .desplegable{
        display: flex;
        background-color: #110f13;
        align-items: baseline;
        padding: 0.3rem 0.5rem;
    }
    
    .canales{
        display: flex;
        flex-direction: column;

        .canal{
            display: flex;
            align-items: baseline;

            i{
                padding-left: 0.5rem;
            }
        }

        .chat_privado{
            .status_canal{
                
            }
        }

        h6{
            padding-left: 5px;
            text-align: center;
        }

        i h6{
            display: flex;
        }

        h8{
            padding: 0.3rem 0.5rem;
        }

        .canal:hover{
            background-color: #110f13;
            cursor: pointer;
        }

        .chat_privado:hover{
            background-color: #110f13;
            cursor: pointer;
        }
    }
    
    .user_up{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 1.5rem;

        .contenedor_img{
            position: relative;

            .user_pfp{
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            margin-bottom: 5px;
        }

        .status{
            background-color: rgb(69, 173, 43);
            border: 2px solid #1a181d;
            border-radius: 50%;
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
            right: 1px;
        }
        }

            
    }
}


.chat-area{

    .canal_name{
        display: flex;
        align-items: center;    
        border-bottom: 1px solid rgb(61, 61, 61);

        i{
            font-size: 1.9rem;
        }
    }
/* ===== Scrollbar CSS ===== */
        /* Chrome, Edge, and Safari */
        .chat_estructura::-webkit-scrollbar {
            width: 16px;
        }

        .chat_estructura::-webkit-scrollbar-track {
            background: #ffffff;
        }

        .chat_estructura::-webkit-scrollbar-thumb {
            background-color: #7c4cc3;
            border-radius: 10px;
            border: 3px solid #ffffff;
        }

    .chat_estructura{
        display: flex;
        flex-direction: column;
        height: 75vh;
        overflow-y: auto;

        

        .mensaje{
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid rgba(61, 61, 61, 0.137);
            padding: 10px 4px;

            h6{
                font-size: 1rem;
            }

            p{
                font-size: 1rem;
                margin-bottom: 0;
                margin-left: 4px
            }

        }
    }


    .chat-enviar-mensaje{
        display: flex; 
        padding: 5px 4px;
        align-items: baseline;
        border-top: 1px solid rgba(61, 61, 61, 0.137);


        h6{
            margin-right: 10px;
            margin-left: 5px;
        }

        i{
            font-size: 1.5rem;
        }

        .emoji{
            display: flex;
            align-items: baseline;
        }
        form{
            display: flex;

        button, input[type="submit"], input[type="reset"] {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            }
        }

        .status_2{
            background-color: rgb(69, 173, 43);
            border-radius: 50%;
            width: 0.5rem;
            height: 0.5rem;
        }
        textarea { 
            border: none; 
            overflow: auto; 
            outline: none; 
            -webkit-box-shadow: none; 
            -moz-box-shadow: none; 
            box-shadow: none; 
            resize: none; 
        }        
        
        .mensaje_input{
            width: 300px;
            min-height: 17px;
            border: 1px solid rgb(109, 31, 161);
            max-height: 150px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .mensaje_input:focus{
            background-color: #7c4cc3;
        }

        textarea:focus { 
            border: none; 
            overflow: auto; 
            outline: none; 
            -webkit-box-shadow: none; 
            -moz-box-shadow: none; 
            box-shadow: none; 
            resize: none; 
        }
    } 
}

        
.lista_de_usuarios{
    display: flex;
    border-left: 1px solid rgba(61, 61, 61, 0.425);
    flex-direction: column;
    margin-top: 10px;
    width: 18%;
    
    .users_online{

        h4{
            font-size: 1.2rem;  
            padding-left: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(61, 61, 61, 0.137);
        }
        
    }

    .nombre{
        display: flex;
        align-items: baseline;

        i{
            padding-left: 10px;
        }

        h6{
            padding-left: 5px;
        }
    }

}