<div class="todo">
    <div class="nav">
        <div class="titulo_nav">
            <div>
                <h1 id="antara">Antara</h1>
                <i class='bx bxs-message-rounded-dots'></i>
            </div>
        </div>
        <div class="parte_izq_nav">
            <div class="usuarios_nav"><i class='bx bxs-group'></i>
                <h6>3</h6>
            </div>
            <!--         <i class='bx bx-cog'></i> -->
        </div>
    </div>
    <div class="divisiones">
        <div class="user">
            <div class="user_up">
                <div class="user_pfp">
                    <img class="user_pfp_img" src="/img/kitty.PNG" alt="">
                    <span class="status-on" id="status"></span></div>
                <h5 id="usuario">Username</h5>
            </div>

            <div class="canales">
                <span class="desplegable"><i class='bx bxs-chevron-down'></i>
                    <h6>Canales</h6>
                </span>
                <span class="canal"><i class='bx bx-hash'></i>
                    <h8>general</h8>
                </span>
                <span class="canal"><i class='bx bx-hash'></i>
                    <h8>Lorem</h8>
                </span>
                <span class="desplegable"><i class='bx bxs-chevron-down'></i>
                    <h6>Chats</h6>
                </span>
                <span class="chat_privado"><span class=" "></span>
                    <h8>Lorem</h8>
                </span>
                <span class="chat_privado"><span class="status_canal"></span>
                    <h8>Klaha</h8>
                </span>
                <span class="chat_privado"><span class="status_canal"></span>
                    <h8>Mana</h8>
                </span>
            </div>
        </div>

        <div class="chat-area w-75">
            <div class="chat_estructura p-2 relleno bg-light" id="caja-mensajes">

            </div>
            <div class="p-3">
                <form action="" class="row w-100 gap-3" id="formMensaje">
                    <div>
                        <input type="text" class="form-control" id="cuadroMensaje">
                    </div>
                    <div class="col w-100">
                        <button id="btn-enviar" class="btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </form>
                <h6 class="text-center w-100 fs-4">Username</h6>
            </div>
        </div>

        <div class="lista_de_usuarios">
            <div class="users_online">
                <h4>3 usuarios online</h4>
            </div>
            <div class="lista">
                <div class="nombre"><i class='bx bxs-user'></i>
                    <h6>username</h6>
                </div>
                <div class="nombre"><i class='bx bxs-user'></i>
                    <h6>Klaha</h6>
                </div>
                <div class="nombre"><i class='bx bxs-user'></i>
                    <h6>Mana</h6>
                </div>
            </div>
        </div>
    </div>
</div>