<div class="bg-landing">
    <header class="hero">
    <nav>
        <div class="nav_landing">
            <div style="display:flex;align-items: baseline;">
            <h1 class="antara_nav">Antara</h1>
            <p>Lorem ipsum dolor sit amet.</p>
            </div>
        <div class="acciones_nav">
            <a href="/login" class="login_nav">Iniciar sesión</a>
            <a href="/register" class="registro_nav">Registrarse</a>
        </div>
        </div>
    </nav>

    <div class="textos-hero">
        <span class="Antara"><h1>Antara chat</h1><i class='bx bxs-message-rounded-dots'></i></span>
        <p>La red de chat para contactar personas</p>
        <div style="display: flex;">
        <form class="form-horizontal form-material" id="loginform" action="/chat">
                        <h3 class="box-title m-b-20 text-center">Chatear</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Nombre de usuario" name="nombre"> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Sala de chat" name="sala"> </div>
                        </div>

                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Ingresar al chat</button>
                            </div>
                        </div>
        </form>
        </div>
    </div>
    <div class="imagengatito">
        <img src="/img/kitty_1_CC.png" alt="">
    </div>
</header>

<section class="wave-contenedor website">
        <div class="contenedor-textos-main">
            <h2 class="titulo left">¿Quiénes Somos?</h2>
            <p class="parrafo">
                "Somos una red de chat para generar más contactos, es un ambiente tranquilo con la facilidad de adaptarse a cada etapa de tu vida"
            </p>
            <a href class="cta">Información</a>
        </div>
</section>

<section class="info">
        <div class="contenedor">
            <h2 class="titulo_info">Unidos todos en una sola RED</h2>
            <p class="parrafo">
                Este es un chat para generar unión y acercarse más a través de la comunicación, el respeto y responsabilidad.
            </p>
        </div>
</section>

<section class="cards contenedor">
        <h2 class="titulo">Temas a charlar</h2> 
        <div class="content-cards">
            <article class="card">
                <i class="far fa-clone" aria-hidden="true"></i>
                <h3>Hobbies</h3>
                <p>Compartí y habla sobre los gustos o hobbies que disfrutas.</p>
                <a href class="cta">Mas info</a>
            </article>
            <article class="card">
                <i class="far fa-clone" aria-hidden="true"></i>
                <h3>Planes a futuro</h3>
                <p> El Plan de Futuro es una guía de acción para lo que queremos.</p>
                <a href class="cta">Mas info</a>
            </article>
            <article class="card">
                <i class="far fa-clone" aria-hidden="true"></i>
                <h3>Anécdotas</h3>
                <p>
                    Relatos breve de un acontecimientos curiosos o divertidos.</p>
                <a href class="cta">Mas info</a>
            </article>
        </div>
</section>

<section class="info-lat">
    <div class="contenedor last-section">
        <div class="contenedor-text-main">
            <h2 class="titulo left">Reglamento</h2>
            <p class="parrafo">
                Leer antes de escribir. 
                No hay límite de palabras por envío.
                Un emoticono vale más que mil millones.
                Respetar los horarios.
                No a los bulos. 
                No a los virales caducados.
                No hace falta insultar.
            </p>
            <a href="cta">Mas info</a>
        </div>
    </div>
  
</section>

<footer id="footer">
        <div>
            <h2 class="titulo_footer">Antara</h2>
        </div>
        <div>
            <h3>Chats</h3> 
            <span class="chats_footer">
            <a href="">#Chat general</a>
            <a href="">#Chat general</a>
            <a href="">#Chat general</a>
            <a href="">#Chat general</a>
            </span>
        </div>
        <div>
            <h3>Chats</h3> 
            <span class="chats_footer">
            <a href="">#Chat general</a>
            <a href="">#Chat general</a>
            <a href="">#Chat general</a>
            <a href="">#Chat general</a>
            </span>
        </div>
</footer>
</div>



<script src="https://kit.fontawesome.com/c15b744a04.js" crossorigin="anonymous"></script>
<script src="/assets/plugins/jquery/jquery.min.js"></script>


<style media="all" id="fa-v4-font-face"></style>
<style media="all" id="fa-v4-shims"></style>
<style media="all" id="fa-main"></style>

<script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
</script>