<div class="limites">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" id="form-login" method="post" action="/login">
                <span class="login100-form-title p-b-49">LOGIN</span>
                <div class="wrap-input100 validate-input m-b-23" data-validate="Nombre de Usuario">
                    <span class="label-input100">Usuario</span>
                    <input class="input100" type="email" id="signin-email" class="form-control"
                    placeholder="Email" required>
                    <span class="focus-input100" data-simbol=""></span>
                    </span>
        
                </div>
                <div class="wrap-input100 validate-input" >
                    <span class="label-input100" >Contraseña</span>
                    <input class="input100" type="password" id="signin-pass" class="form-control"
                    placeholder="Password" required>
                    <span class="focus-input100" data-symbol="">
                    </span>
                </div>
                <div class="text-right p-t-8 p-b-31">
                    <a href="#">Olvidaste tu Contraseña</a>
                </div>
                <div class="contenedor-boton-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>Registrate tambien por</span>
                </div>
               <div class="flex-c-m">
                <a href="#" class="login100-social-item bg1">
                    <i class="fa fa-facebook">

                    </i>
                </a>
                <a href="#" class="login100-social-item bg2">
                    <i class="fa fa-twitter">

                    </i>
                </a>
                <a href="#" class="login100-social-item bg3">
                    <i class="fa fa-google">

                    </i>
                </a>
               </div>
           

                </form>
            </div>
        </div>
    </div>

    <script src="./firebase/singin.js" type="module"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
