<main>
    <nav class="container mt-4">
        <h2 class="text-center">Salas Disponibles</h2>
    </nav>

    <div class="w-75 m-auto d-flex gap-5 flex-wrap mt-5">
        <div class="card h-100" style="width: 20rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h2>Sala de juegos</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card h-100" style="width: 20rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h2>Sala de juegos</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card h-100" style="width: 20rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h2>Sala de juegos</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card h-100" style="width: 20rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h2>Sala de juegos</h2>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>



</main>